.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.shaale-logo {
    font-size: 24px;
}
span{
    cursor: pointer;
}
/* ul li{
    position: relative;
} */

.search-box {
    display: flex;
    align-items: center;
    position: relative;
}
.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    /* Adjust the right position as needed */
    transform: translateY(-50%);
    color: #ffffff;
    /* Adjust the color of the icon if needed */
}

.search-box input {
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    outline-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 150px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 30px;
    cursor: pointer;
    
}
.last-four{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    
}

.first-two{
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: space-between; 
    margin-bottom: 0px;
}
.last-four>div {
    margin-right: 60px;
    margin-left: 40px;
}
.first-two span {
        margin-right: 20px;
            margin-bottom: 0px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.explore-dropdown{
    display: inline-block;
    position: relative;
    left: 0;
    top: 100%;
    background-color: #000000;
}
.explore-dropdown ul {
    display: contents;

}

